---
import type { Product } from '@/types/productTypesTypes'
import { Icon } from '../ui/Icon'
import { IconArrow, IconTag, IconBox } from '../ui/Icons'
import { HeaderActions } from './HeaderActions'

interface Props {
  product: Product
}

const { product } = Astro.props
const { name, code, category } = product
---

<header class='h-16 md:not-sidebar-open:h-20 lg:h-20 flex items-center justify-between p-3 px-4 border-b border-border'>
  <div class='grid grid-cols-[auto_1fr] grid-flow-row items-center grid-rows-2 gap-x-4'>
    <a href='/search' class='row-span-full size-10 flex items-center justify-center rounded-lg transition-colors text-neutral-400 shr:text-light shr:bg-neutral-700/70'>
      <Icon class='size-5 stroke-2 rotate-180'>
        <IconArrow />
      </Icon>
    </a>
    <h1 class='col-2 text-lg font-semibold not-md:hidden not-lg:sidebar-open:hidden text-light'>{name}</h1>
    <div class='col-2 not-md:row-span-full not-lg:sidebar-open:row-span-full w-full flex items-center gap-2 text-neutral-400'>
      <span class='text-sm'>{code}</span>
      ·
      <span class='w-fit text-xs font-medium p-0.25 px-1 rounded-sm border border-border bg-dark'>{category}</span>
      ·
      <div class='flex items-center gap-1 text-xs text-orange-400'>
        <Icon class='size-5'>
          <IconBox />
        </Icon>
        <span class='not-lg:hidden not-xl:sidebar-open:hidden'>Stock bajo</span>
      </div>
      ·
      <div class='flex items-center gap-1 text-xs text-orange-400'>
        <Icon class='size-5'>
          <IconTag />
        </Icon>
        <span class='not-lg:hidden not-xl:sidebar-open:hidden'>Etiqueta desactualizada</span>
      </div>
    </div>
  </div>
  <HeaderActions client:idle />
</header>