@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: Inter;
  font-display: swap;
  src:
    local('Inter'),
    url('/Inter.woff2') format('woff2')
  ;
}

@theme {
  --spacing-sidebar: calc(var(--spacing) * 72);
}

@custom-variant shr {
  @media (pointer: fine) {
    &:hover {
      @slot;
    }
  }
  @media (pointer: coarse) {
    &:active {
      @slot;
    }
  }
}

:root {
  color-scheme: dark light;
  font-family: Inter, system-ui;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
