@import "tailwindcss";

@theme {
  --color-dark: #070709;
  --color-darker: #040406;
  --color-light: #eeeeee;
  --color-primary: #11ad32;
  --color-accent: #212126;
  --color-border: #28292b;
  --color-card: #0f0f12;

  --breakpoint-ml: 792px;
}

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('/assets/Inter.woff2')
}

@custom-variant sidebar-mini {
  &:where(:has(#checkbox-sidebar-state:checked) *) {
    @slot;
  }
}

:root {
  font-family: Inter, system-ui;
  color-scheme: dark;
}

.gutter-stable {
  scrollbar-gutter: stable;
}