---
import { SidebarLink } from '@/components/layout/Sidebar/SidebarLink'
import { sidebarLinks } from '@/lib/sidebarLinks'
import { SidebarUserCard } from '@/components/layout/Sidebar/SidebarUserCard'
import { ToggleSidebar } from '../Sidebar/ToggleSidebar'
import CloseSidebar from './CloseSidebar.astro'

const { pathname } = Astro.url
---

<aside class='sidebar-mini:-left-65 fixed z-2 left-0 top-0 h-full w-65 grid grid-rows-[64px_1fr_64px] not-sm:transition-[left_250ms_ease] border-r bg-darker border-border'>
  <header class='h-full w-full flex items-center gap-3 px-3 border-b border-border'>
    <ToggleSidebar />
    <div class='h-fit flex flex-col justify-center select-none'>
      <h1 class='text-sm text-light font-semibold'>Sistema interno</h1>
      <span class='text-xs text-neutral-400'>Zenith</span>
    </div>
  </header>
  <main class='h-fit min-h-full w-full flex flex-col gap-1 px-3 pt-4 overflow-y-auto text-neutral-400'>
    <div class='flex flex-col gap-1'>
      { sidebarLinks.principal.map((link) => (
        <SidebarLink pathname={pathname} {...link} />
      )) }
    </div>
    <div class='w-full h-px my-3 bg-border' />
    <div class='flex flex-col gap-1'>
      { sidebarLinks.system.map((link) => (
        <SidebarLink pathname={pathname} {...link} />
      )) }
    </div>
  </main>
  <SidebarUserCard client:load />
</aside>
<CloseSidebar />