---
import { ImageSlider } from '@/components/products/ImageSlider'
import { Icon } from '@/components/ui/Icon'
import { IconArrow } from '@/components/ui/Icons'
import Layout from '@/layouts/Layout.astro'
import { LoadProduct } from '@/components/product/LoadProduct'
import { HeaderActions } from '@/components/products/HeaderActions'
import { HeaderInfo } from '@/components/product/HeaderInfo'
import { ProductInfo } from '@/components/product/ProductInfo'

const { id } = Astro.params
if (!id) return Astro.redirect('/dashboard')
---

<Layout tabBar>
  <LoadProduct id={id} client:load />
  <header class='h-16 roomy-lg:h-20 flex items-center justify-between p-3 px-4 border-b border-border'>
    <div class='grid grid-cols-[auto_1fr] grid-flow-row items-center grid-rows-2 gap-x-4'>
      <a href='/search' class='row-span-full size-10 flex items-center justify-center rounded-lg transition-colors text-neutral-400 shr:text-light shr:bg-neutral-700/70'>
        <Icon class='size-5 stroke-2 rotate-180'>
          <IconArrow />
        </Icon>
      </a>
      <HeaderInfo client:load />
    </div>
    <HeaderActions client:idle />
  </header>
  <section class='w-fit mx-auto not-roomy-lg:mt-4 roomy-lg:hidden'>
    <ProductInfo client:load />
  </section>
  <section class='relative z-0 h-fit w-full p-6 flex flex-col not-roomy-lg:items-center'>
    <ImageSlider client:load />
  </section>
</Layout>