---
import Header from '@/components/products/Header.astro'
import { ImageSlider } from '@/components/products/ImageSlider'
import { Icon } from '@/components/ui/Icon'
import { IconArrow } from '@/components/ui/Icons'
import Layout from '@/layouts/Layout.astro'
import { LoadProduct } from '@/components/product/LoadProduct'
import { HeaderActions } from '@/components/products/HeaderActions'
import { HeaderInfo } from '@/components/product/HeaderInfo'
import { ProductInfo } from '@/components/product/ProductInfo'

const { id } = Astro.params
if (!id) return Astro.redirect('/dashboard')
---

<Layout tabBar>
  <LoadProduct id={id} client:load />
  <header class='h-16 md:not-sidebar-open:h-20 lg:h-20 flex items-center justify-between p-3 px-4 border-b border-border'>
    <div class='grid grid-cols-[auto_1fr] grid-flow-row items-center grid-rows-2 gap-x-4'>
      <a href='/search' class='row-span-full size-10 flex items-center justify-center rounded-lg transition-colors text-neutral-400 shr:text-light shr:bg-neutral-700/70'>
        <Icon class='size-5 stroke-2 rotate-180'>
          <IconArrow />
        </Icon>
      </a>
      <HeaderInfo client:idle />
    </div>
    <HeaderActions client:idle />
  </header>
  <section class='md:not-sidebar-open:hidden lg:sidebar-open:hidden w-fit mx-auto mt-4 px-4'>
    <ProductInfo client:idle />
  </section>
  <section class='relative z-0 h-fit w-full py-4 pb-6 flex flex-col items-center justify-center'>
    <ImageSlider client:idle />
  </section>
</Layout>