---
import Layout from '../layouts/Layout.astro'
import { formatDate } from '@/lib/formaters'
import { capitalize } from '@/lib/capitalize'
import { Clock } from '@/components/dashboard/Clock'
import { TerminalInfo } from '@/components/dashboard/TerminalInfo'
import { DashboardLink } from '@/components/dashboard/DashboardLink'
import { IconBox, IconCart, IconTicket } from '@/components/ui/Icons'
import { DashboardMetrics } from '@/components/dashboard/DashboardMetrics'

const timestamp = new Date().getTime()
---

<Layout tabBar>
	<section class='h-fit w-full min-h-full flex flex-col p-6 gap-5'>
		<header class='h-fit sm:h-18 flex not-sm:flex-col justify-between gap-2'>
			<div class='not-sm:hidden h-full flex flex-col justify-center gap-1 shrink-0'>
				<h1 class='text-2xl font-semibold text-light'>Hola, Federico!</h1>
				<span class='text-nowrap text-neutral-400'>{capitalize(formatDate(timestamp, 'es-US', { dateStyle: 'full' }), ' ')}</span>
			</div>
			<div class='h-full flex flex-row-reverse sm:flex-col justify-between sm:justify-center items-center sm:items-end gap-1 shrink-0'>
				<Clock client:idle />
				<TerminalInfo client:idle />
			</div>
		</header>
		<section class='h-40 sm:h-32 w-full grid not-sm:grid-rows-3 sm:grid-cols-3 gap-2 sm:gap-4'>
			<DashboardLink to='/new_sale' icon={IconCart} class='h-full min-h-fit w-full' main>Nueva Venta</DashboardLink>
			<DashboardLink to='/history' icon={IconTicket} class='h-full min-h-fit w-full'>Ver Historial</DashboardLink>
			<DashboardLink to='/search' icon={IconBox} class='h-full min-h-fit w-full'>Buscar Producto</DashboardLink>
		</section>	
		<DashboardMetrics client:load />
	</section>
</Layout>