---
import '../styles/global.css'

interface Props {
  title?: string
}

const { title } = Astro.props
---

<html lang='es' class='flex justify-center'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<title>{title ? `${title} | Docs` : 'Docs'}</title>
	</head>
	<body class='min-h-fit max-w-4xl flex flex-col items-center p-8 md:p-16 gap-2 bg-base-100'>
		<slot />
	</body>
</html>
