---
import SidebarMini from '@/components/layout/Sidebar/SidebarMini.astro'
import Sidebar from '../components/layout/Sidebar/Sidebar.astro'
import { SidebarStateManager } from '@/components/layout/Sidebar/SidebarStateManager'
import '../styles/global.css'
import { TabBar } from '@/components/layout/TabBar/TabBar'
import { barItems } from '@/lib/barItems'
import { useTabBarStore } from '@/stores/useTabBarStore'

interface Props {
  title?: string
}

const { title } = Astro.props
const { pathname } = Astro.url

const activeItem = barItems.find((i) => i.type === 'link' && i.href === pathname)?.id
useTabBarStore.setState({ activeItem })
---

<html lang='es' class='h-full w-full gutter-stable bg-dark'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<title>{title ? `${title} - Zenith` : 'Zenith'}</title>
		<link rel='preload' href='/assets/Inter.woff2' as='font' type='font/woff2' crossorigin='anonymous' />
	</head>
	<body class='h-full w-full'>
		<div class='h-full w-full sm:grid grid-cols-[auto_1fr]'>
			<SidebarStateManager />
			<Sidebar />
			<SidebarMini />
			<main class='w-full h-full'>
				<slot />
			</main>
		</div>
		<TabBar pathname={pathname} client:load />
	</body>
</html>
